body {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgb(233, 148, 185) 0%,
    rgb(142, 189, 243) 100%
  );
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 25px;
  padding: 5px;
  margin: 3px;
  outline: none;
  color: #fff;
  background-color: rgb(90, 180, 245);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
button:hover {background-color: #3e8e41}
.btn2:hover {background-color: #e14419}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
